<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/usermenu.js}"></script>
</head>
<body>

    <nav class="navbar  navbar-fixed-top navbar-default" role="navigation" th:fragment="navBar">
        　　<div class="container-fluid">　　
        　　　<div class="navbar-header">　　　
                 <button class="navbar-toggle" data-toggle="collapse" data-target="#collapse1">
                   <span class="sr-only"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                  </button>
            　　  <a class="navbar-brand" th:href="@{/}">买买买<span class="icon fa fa-home"></span></a>
              </div>
        <div class="collapse navbar-collapse " id="collapse1">
            <ul class="nav  nav-pills">
            <!--<li ><a  th:href="@{/}">我的货物</a></li>-->
            <!--<li>-->
                <!--<a class="dropdown-toggle " data-toggle="dropdown" th:href="@{/}">简述<span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">谷歌浏览器</a></li>-->
                    <!--<li><a href="#">IE浏览器</a></li>-->
                    <!--<li><a href="#">360浏览器</a></li>-->
                    <!--<li><a href="#">谷歌火狐浏览器</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <li style="margin-left: 20%" >
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </li>
                <li  style="margin-left: 5%"sec:authorize="isAuthenticated()"><a th:href="@{/user/toUser}">用户中心</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/cart/getCartList}">购物车 <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            <li sec:authorize="isAuthenticated()" class="pull-right">
                    <a  th:href="@{/logout}">注销</a>
            </li>
                <li sec:authorize="!isAuthenticated()" class="pull-right">
                    <a th:href="@{/login}">登录/注册</a>
                </li>
        </ul>
        </div>

    </div>
    </nav>

    <nav class="navbar   navbar-default" role="navigation" th:fragment="userNavbar">
        　　<div class="container-fluid">　　
        　　　<div class="navbar-header">　　　
            <button class="navbar-toggle" data-toggle="collapse" data-target="#collapse1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            　　  <a class="navbar-brand" th:href="@{/}">买买买<span class="icon fa fa-home"></span></a>
        </div>
        <div class="collapse navbar-collapse " id="collapse1">
            <ul class="nav  nav-pills">
                <li ><a  th:href="@{/user/toUser}">个人信息</a></li>
                <li>
                    <a th:href="@{/}">消息</a>
                </li>
                <li ><a th:href="@{/user/toMyProduct}">我的商品</a></li>
                <li ><a th:href="@{/user/toUpload}">上传商品</a></li>
                <li ><a th:href="@{/cart/getCartList}">我的购物车</a></li>
                <li ><a th:href="@{/user/toUserImg}">更换头像</a></li>
                <li sec:authorize="isAuthenticated()" class="pull-right">
                    <a  th:href="@{/logout}">注销</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>

    <div class="" th:fragment="menuNavbar">　
        <div  style="margin-left: 15%">
            <ul class="list-group" style="display:inline-block" >
                <li class="list-group-item active" style="float: left;"><a  class="text-muted" th:href="@{/}">最新商品</a></li>
                <li class="list-group-item" style="float: left;"><a th:href="@{/}">生活物品</a></li>
                <li class="list-group-item" style="float: left;"><a th:href="@{/user/toMyProduct}">电子产品</a></li>
                <li class="list-group-item" style="float: left;"><a th:href="@{/user/toUpload}">衣物</a></li>
                <li class="list-group-item" style="float: left;"><a th:href="@{/user/toUser}">运动物品</a></li>
                <li class="list-group-item" style="float: left;"><a th:href="@{/user/toUserImg}">书籍、资料</a></li>
            </ul>
        </div>
    </div>


    <footer th:fragment="footers" class="footer ">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <hr>
                <h2>
                    处理闲置就上买买买,欢迎加入我们！
                </h2>

                <ul class="social list-unstyled list-inline">
                    <li><a href="https://en.mail.qq.com/cgi-bin/loginpage"><span class="icon fa fa-qq"></span>QQ邮箱：893309066@qq.com</a></li>
                    <li><a href="https://github.com/luoxingsheng/SpringSecurity">  <span class="icon fa fa-github"></span>项目地址github</a></li>
                </ul>
                <hr>
            </div><!--/col-->
        </div><!--/container-->
    </footer>

</body>
</html>
