<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>[[#{login.pay_money}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <script type="text/javascript" th:src="@{/js/validatePwd.js}"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">[[#{login.web_name}]]</a>
        </div>
    </div>
</nav>

<div class="container">

    <br><br><br>
    <div class="starter-template col-md-6 col-md-offset-3" >
        <div class="panel panel-default">
            <h2>[[#{login.pay_money}]]</h2>
            <hr>
            <div>
                <div class="form-inline">
                    <div class="form-group">
                        <a class="pull-left" style="text-decoration:none;" onclick="change1()">[[#{login.alipay}]]&nbsp;&nbsp;&nbsp;&nbsp;|</a>
                        <a class="pull-left" style="text-decoration:none;" onclick="change2()">&nbsp;&nbsp;&nbsp;&nbsp;[[#{login.weichat}]]</a>
                    </div>
                </div>
                <br>
                <div>
                    <a href="/order/pay"><img  src="/img/zhifubao.png" id="img0"  style="width:400px;height: 400px;"/></a>
                </div>
                <br>
            </div>

        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    function change1() {
        var img = document.getElementById("img0")
        img.src = "/img/zhifubao.png";
    }

    function change2() {
        var img = document.getElementById("img0")
        img.src = "/img/weixing.png";
    }
</script>
</html>
