<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxs.graduate.dao.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.lxs.graduate.entity.Evaluate" >
    <constructor >
      <idArg column="e_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="p_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="buy_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="message" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    e_id, p_id, buy_id, title, message, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from evaluate
    where e_id = #{eId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from evaluate
    where e_id = #{eId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxs.graduate.entity.Evaluate" >
    insert into evaluate (e_id, p_id, buy_id, 
      title, message, create_time
      )
    values (#{eId,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{buyId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lxs.graduate.entity.Evaluate" >
    insert into evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        e_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="buyId != null" >
        buy_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        #{eId,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="buyId != null" >
        #{buyId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxs.graduate.entity.Evaluate" >
    update evaluate
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="buyId != null" >
        buy_id = #{buyId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxs.graduate.entity.Evaluate" >
    update evaluate
    set p_id = #{pId,jdbcType=INTEGER},
      buy_id = #{buyId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
  <select id="getEvaluatesByPid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from evaluate
    where p_id=#{p_id,jdbcType=INTEGER} </select>

 </mapper>
