<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxs.graduate.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.lxs.graduate.entity.Order" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="p_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sell_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="buy_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_money" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="pay_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_receiver" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, p_id, sell_id, buy_id, order_num, order_time, order_status, order_money, pay_status, 
    order_address, order_receiver, order_phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from graduate..order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from graduate..order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxs.graduate.entity.Order" >
    insert into graduate..order (id, p_id, sell_id, 
      buy_id, order_num, order_time, 
      order_status, order_money, pay_status, 
      order_address, order_receiver, order_phone
      )
    values (#{id,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{sellId,jdbcType=INTEGER}, 
      #{buyId,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, #{orderTime,jdbcType=VARCHAR}, 
      #{orderStatus,jdbcType=VARCHAR}, #{orderMoney,jdbcType=DOUBLE}, #{payStatus,jdbcType=VARCHAR}, 
      #{orderAddress,jdbcType=VARCHAR}, #{orderReceiver,jdbcType=VARCHAR}, #{orderPhone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lxs.graduate.entity.Order" >
    insert into graduate..order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="sellId != null" >
        sell_id,
      </if>
      <if test="buyId != null" >
        buy_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderMoney != null" >
        order_money,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="orderAddress != null" >
        order_address,
      </if>
      <if test="orderReceiver != null" >
        order_receiver,
      </if>
      <if test="orderPhone != null" >
        order_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="sellId != null" >
        #{sellId,jdbcType=INTEGER},
      </if>
      <if test="buyId != null" >
        #{buyId,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null" >
        #{orderMoney,jdbcType=DOUBLE},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderAddress != null" >
        #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderReceiver != null" >
        #{orderReceiver,jdbcType=VARCHAR},
      </if>
      <if test="orderPhone != null" >
        #{orderPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxs.graduate.entity.Order" >
    update graduate..order
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="sellId != null" >
        sell_id = #{sellId,jdbcType=INTEGER},
      </if>
      <if test="buyId != null" >
        buy_id = #{buyId,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null" >
        order_money = #{orderMoney,jdbcType=DOUBLE},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderAddress != null" >
        order_address = #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderReceiver != null" >
        order_receiver = #{orderReceiver,jdbcType=VARCHAR},
      </if>
      <if test="orderPhone != null" >
        order_phone = #{orderPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxs.graduate.entity.Order" >
    update graduate..order
    set p_id = #{pId,jdbcType=INTEGER},
      sell_id = #{sellId,jdbcType=INTEGER},
      buy_id = #{buyId,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      order_money = #{orderMoney,jdbcType=DOUBLE},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      order_address = #{orderAddress,jdbcType=VARCHAR},
      order_receiver = #{orderReceiver,jdbcType=VARCHAR},
      order_phone = #{orderPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>