<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxs.graduate.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.lxs.graduate.entity.Product" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="p_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="p_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="p_price" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="p_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="p_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="p_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="p_stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="p_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, p_name, p_type, p_price, p_img, p_desc, p_status, p_stock, user_id, p_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectAllProduct" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product
    where p_status='上架中' order by p_time DESC
  </select>
  <select id="findProductByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from product
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="getLivingProducts" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product
    where p_type='生活用品'
  </select>
  <select id="getElectricProducts" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product
    where p_type='电子产品'
  </select>
  <select id="getClothProducts" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product
    where p_type='衣物'
  </select>
  <select id="getSportProducts" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product
    where p_type='运动物品'
  </select>
  <select id="getBookProducts" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product
    where p_type='书籍、资料'
  </select>
  <select id="searchProducts" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product
    where p_name like '%${p_name}%'
  </select>
  <insert id="insert" parameterType="com.lxs.graduate.entity.Product" >
    insert into product (id, p_name, p_type, 
      p_price, p_img, p_desc, 
      p_status, p_stock, user_id, 
      p_time)
    values (#{id,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, #{pType,jdbcType=VARCHAR}, 
      #{pPrice,jdbcType=DOUBLE}, #{pImg,jdbcType=VARCHAR}, #{pDesc,jdbcType=VARCHAR}, 
      #{pStatus,jdbcType=VARCHAR}, #{pStock,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{pTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lxs.graduate.entity.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pName != null" >
        p_name,
      </if>
      <if test="pType != null" >
        p_type,
      </if>
      <if test="pPrice != null" >
        p_price,
      </if>
      <if test="pImg != null" >
        p_img,
      </if>
      <if test="pDesc != null" >
        p_desc,
      </if>
      <if test="pStatus != null" >
        p_status,
      </if>
      <if test="pStock != null" >
        p_stock,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="pTime != null" >
        p_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        #{pType,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null" >
        #{pPrice,jdbcType=DOUBLE},
      </if>
      <if test="pImg != null" >
        #{pImg,jdbcType=VARCHAR},
      </if>
      <if test="pDesc != null" >
        #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="pStatus != null" >
        #{pStatus,jdbcType=VARCHAR},
      </if>
      <if test="pStock != null" >
        #{pStock,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="pTime != null" >
        #{pTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxs.graduate.entity.Product" >
    update product
    <set >
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        p_type = #{pType,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null" >
        p_price = #{pPrice,jdbcType=DOUBLE},
      </if>
      <if test="pImg != null" >
        p_img = #{pImg,jdbcType=VARCHAR},
      </if>
      <if test="pDesc != null" >
        p_desc = #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="pStatus != null" >
        p_status = #{pStatus,jdbcType=VARCHAR},
      </if>
      <if test="pStock != null" >
        p_stock = #{pStock,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="pTime != null" >
        p_time = #{pTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxs.graduate.entity.Product" >
    update product
    set p_name = #{pName,jdbcType=VARCHAR},
      p_type = #{pType,jdbcType=VARCHAR},
      p_price = #{pPrice,jdbcType=DOUBLE},
      p_img = #{pImg,jdbcType=VARCHAR},
      p_desc = #{pDesc,jdbcType=VARCHAR},
      p_status = #{pStatus,jdbcType=VARCHAR},
      p_stock = #{pStock,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      p_time = #{pTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>