<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxs.graduate.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.lxs.graduate.entity.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="icon" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="credit_score" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, username, password, nickname, email, address, tel, icon, credit_score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from custom
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getUserByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from custom
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from custom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxs.graduate.entity.User"  keyProperty="id" useGeneratedKeys="true">
    insert into custom (id, username, password, 
      nickname, email, address, 
      tel, icon, credit_score
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{creditScore,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lxs.graduate.entity.User" >
    insert into custom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="creditScore != null" >
        credit_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="creditScore != null" >
        #{creditScore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxs.graduate.entity.User" >
    update custom
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="creditScore != null" >
        credit_score = #{creditScore,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxs.graduate.entity.User" >
    update custom
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      credit_score = #{creditScore,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateUserImg" parameterType="com.lxs.graduate.entity.User" >
    update custom
    <trim prefix="set" suffixOverrides=",">
      <if test="id!=null">id=#{id,jdbcType=INTEGER},</if>
      <if test="username!=null">username=#{username,jdbcType=VARCHAR},</if>
      <if test="password!=null">password=#{password,jdbcType=VARCHAR},</if>
      <if test="nickname!=null">nickname=#{nickname,jdbcType=VARCHAR},</if>
      <if test="email!=null">email=#{email,jdbcType=VARCHAR},</if>
      <if test="nickname!=null">nickname=#{nickname,jdbcType=VARCHAR},</if>
      <if test="email!=null">email=#{email,jdbcType=VARCHAR},</if>
      <if test="address!=null">address=#{address,jdbcType=VARCHAR},</if>
      <if test="tel!=null">tel=#{tel,jdbcType=VARCHAR},</if>
      <if test="icon!=null">icon=#{icon,jdbcType=VARCHAR},</if>
      <if test="creditScore!=null">credit_score=#{creditScore,jdbcType=VARCHAR},</if>
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>



  <resultMap id="userMap" type="com.lxs.graduate.entity.User">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <collection property="roles" ofType="com.lxs.graduate.entity.Role">
      <result column="role_name" property="roleName"/>
    </collection>

  </resultMap>
  <select id="findUserByUserName" parameterType="String" resultMap="userMap">
        select u.*
        ,r.role_name
        from custom u
        LEFT JOIN user_role ur on u.id= ur.user_id
        LEFT JOIN role r on ur.role_id=r.id
        where username= #{username}
    </select>

</mapper>
