<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name"></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>

<div class="panelBar" th:replace="common/navbar::navBar"></div>
<br><br><br><br>;
<div class="container ">
    <div class=" col-md-10 col-md-offset-1" >
        <!--<div  style="margin-left: 50px;" >　-->
            <!--<div  style="margin-left: 15%">-->
                <!--<ul class="list-group" style="display:inline-block" >-->
                    <!--<li class="list-group-item" style="float: left;"><a  th:href="@{/}">最新商品</a>-->
                        <!--<div style="width:100%;height: 2px; margin-top: 4px;background-color: #222;"></div></li>-->
                    <!--<li class="list-group-item" style="float: left;"><a th:href="@{/livingProducts}">生活物品</a>-->
                        <!--<div style="width:100%;height: 2px; margin-top: 4px;"></div></li>-->
                    <!--<li class="list-group-item" style="float: left;"><a th:href="@{/electricProducts}">电子产品</a>-->
                        <!--<div style="width:100%;height: 2px; margin-top: 4px;"></div></li>-->
                    <!--<li class="list-group-item" style="float: left;"><a th:href="@{/clothProducts}">衣物</a>-->
                        <!--<div style="width:100%;height: 2px; margin-top: 4px;"></div></li>-->
                    <!--<li class="list-group-item" style="float: left;"><a th:href="@{/sportProducts}">运动物品</a>-->
                        <!--<div style="width:100%;height: 2px; margin-top: 4px;"></div></li>-->
                    <!--<li class="list-group-item" style="float: left;"><a th:href="@{/bookProducts}">书籍、资料</a>-->
                        <!--<div style="width:100%;height: 2px; margin-top: 4px;"></div></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        <div  th:each="p:${pro}">
                <!-- 显示在拍商品信息 -->
            <div class="col-md-4 col-md-offset-2">
                <img th:src="${p.pImg}" style="width:150px;height:200px;" ></img>
            </div>
            <div >
                <a><div >卖家：[[${seller}]]</div></a><br>
                <div  th:text="${p.pName}" ></div><br>
                <div><div  style="float: left">价格:</div><div  th:text="${p.pPrice}"></div></div><br>
                <div><div  style="float: left">商品描述:</div><div th:title="${p.pDesc}"  th:text="${p.pDesc}"></div></div><br>
                <div><ul class="list-unstyled form-inline" >
                    <li class="form-group"><a th:href="@{/cart/add(productId=${p.id},num=1)}" >添加到购物车</a></li>
                    <li class="form-group"><a th:href="@{/order/addOrder(productId=${p.id},num=1)}" >直接下单</a></li>
                </ul></div>
            </div>
        </div>
    </div>
</div>



<br><br><br><br>
<div th:replace="common/navbar::footers" class="navbar-fixed-bottom"></div>


</body>
</html>
