<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name"></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panelBar" th:replace="common/navbar::navBar"></div>
<br><br><br><br>;
<div class="container ">
    <div class=" col-md-10 col-md-offset-1" >

        <div  th:each="p:${pro}" class="panel panel-info" >
            <div class="panel-heading"><h2 class="panel-title">商品信息</h2></div>
                <!-- 显示在拍商品信息 -->
            <div class=" panel-body">
                <div class="col-md-2 col-md-offset-2 ">
                    <img th:src="${p.pImg}" style="width:200px;height:250px;" ></img>
                </div>
                <div class="col-md-4 col-md-offset-2 ">
                    <div  th:text="${p.id}" class="hidden" id="pId"></div><br>
                    <a th:href="@{/user/hisProduct(sell_id=${p.userId})}"><div >卖家：[[${seller}]]</div></a><br>
                    <div  th:text="${p.pName}" ></div><br>
                    <div>状态：[[${p.pStatus}]]<div  name="status"  th:text="${p.pStatus}"  id="status" class="hidden"></div></div><br>
                    <div><div  style="float: left">价格:</div><div  th:text="${p.pPrice}"></div></div><br>
                    <div><div  style="float: left">商品描述:</div><div th:title="${p.pDesc}"  th:text="${p.pDesc}"></div></div><br>
                    <div><ul class="list-unstyled form-inline" id="operator">
                        <li class="form-group"><button class="btn btn-default"><a th:href="@{/cart/add(productId=${p.id},num=${p.pStock})}" >添加到购物车</a></button></li>
                        <li class="form-group"><button class="btn btn-default"><a th:href="@{/order/toOrder(pId=${p.id},orderNum=${p.pStock},price=${p.pPrice})}" >直接下单</a></button></li>
                    </ul></div>
                </div>
                <hr>
                <div class="col-md-3 text-center">
                    <h3>评论</h3>
                </div>
                <div id="wordArea"></div>
                <div>
                    <textarea  placeholder="内容" rows="3" id="content"></textarea>
                    <button class="btn btn-primary " type="submit" id="evaluate">提交</button>
                </div>
            </div>

        </div>
    </div>
</div>


<script >

    $(document).ready(function() {
        if($("#status").text() == '下架'){
            $("#operator").hide();
        }
    });
</script>
</body>
</html>
