<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>[[#{login.upload_pro}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <script type="text/javascript" th:src="@{/js/upload.js}"></script>
</head>
<body>
<div  class="container " th:replace="common/navbar::userNavbar">
</div>

<div class="container">
    <div class="form row panel panel-default col-md-5 col-md-offset-4 ">
        <form class="form-horizontal  "
              th:action="@{/product/uploadProduct}" method="post" enctype="multipart/form-data">
            <h3 class="form-title col-md-offset-2 ">[[#{login.upload_pro}]]</h3>
            <hr />
            <div class="form-inline col-md-offset-1">
                <div class="form-group">
                    <label for="name">[[#{login.p_name}]]:</label>
                    <input class="form-control required" type="text" th:placeholder="#{login.p_name}" name="pName" id="name" />
                </div>
                <br><br>
                <div class="form-group">
                    <label for="type">[[#{login.p_type}]]</label>
                    <select class="form-control" name="pType" id="type">
                        <option value="生活用品">[[#{login.live_pro}]]</option>
                        <option value="电子产品">[[#{login.elec_pro}]]</option>
                        <option value="衣物">[[#{login.clothes}]]</option>
                        <option value="运动物品">[[#{login.sport}]]</option>
                        <option value="书籍、资料">[[#{login.books}]]</option>
                    </select>
                </div>
                <br><br>

                <div class="form-group">
                    <label for="price">[[#{login.p_price}]]:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-control required" type="text" th:placeholder="#{login.p_price}" name="pPrice" id="price" />
                </div>
                <br><br>

                <div class="form-group">
                    <label for="stock">[[#{login.p_stock}]]:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-control required" type="text" th:placeholder="#{login.p_stock}" name="pStock" id="stock"/>
                </div>
                <br><br>

                <div class="form-group">
                    <label for="stock">[[#{login.p_desc}]]:</label>
                    <textarea class="form-control required" type="text" th:placeholder="#{login.p_desc}" name="pDesc" raw="5"></textarea>
                </div>
                <br><br>


                <div class="form-group">
                    <label >[[#{login.p_img}]]：</label>

                    <img src="http://47.107.133.187:8080/img/moban2.png" class="img-rounded"  id="showImg" name="img" style="height: 200px;width: 200px" >
                    <input  class="form-control required"id="img" size="30" name="pImg" type="file" onchange="preImg()">
                </div>
                <br><br>
                <div class="form-group col-md-offset-1">
                    <input type="submit" class="btn btn-success pull-right btn-block" th:value="#{login.upload} " />
                </div>
            </div>
        </form>
    </div>

</div>


<script>
    function preImg() {
        var file = document.getElementById('img')
        var img = document.getElementById('showImg')
        var url = window.URL.createObjectURL(file.files[0])
        img.src = url
    }
</script>
</body>
</html>
