<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/upload.js}"></script>
</head>
<body>
<div  class="container " th:replace="common/navbar::userNavbar">
</div>

<div class="container">
    <div class="form row">
        <form class="form-horizontal col-sm-offset-3 col-md-offset-3"
              th:action="@{/product/uploadProduct}" method="post" enctype="multipart/form-data">
            <h3 class="form-title col-md-offset-1 ">上传商品信息</h3>
            <hr />
            <div class="col-sm-9 col-md-9">
                <div class="form-group">
                    <input class="form-control required" type="text"
                           placeholder="商品名称" name="pName" />
                </div>

                <div class="form-group">
                    <label for="type">商品种类</label>
                    <select class="form-control" name="pType" id="type">
                        <option value="生活物品">生活物品</option>
                        <option value="电子产品">电子产品</option>
                        <option value="衣物">衣物</option>
                        <option value="运动物品">运动物品</option>
                        <option value="书籍、资料">书籍、资料</option>
                    </select>
                </div>


                <div class="form-group">
                    <input class="form-control required" type="text"
                           placeholder="商品价格" name="pPrice" />
                </div>
                <div class="form-group">
                    <input class="form-control required" type="text"
                           placeholder="商品库存" name="pStock" />
                </div>
                <div class="form-group">
						<textarea class="form-control required" type="text"
                                  placeholder="商品描述" name="pDesc" raw="5"></textarea>
                </div>
                <label >商品图片：</label>
                <div class="form-group">
                    <img th:src="@{/img/userImg/moban2.png}" class="img-rounded"  id="showImg" name="img" style="height: 300px;width: 200px" >
                    <input  class="form-control required"id="img" size="30" name="pImg" type="file" onchange="preImg()">

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success pull-right btn-block"
                           value="确认上传 " />
                </div>
            </div>
        </form>
    </div>

</div>

<script>
    function preImg() {
        var file = document.getElementById('img')
        var img = document.getElementById('showImg')
        var url = window.URL.createObjectURL(file.files[0])
        img.src = url
    }
</script>
</body>
</html>