<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>[[#{login.order_info}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<div  class="container " th:replace="common/navbar::userNavbar">
</div>
<div class="container">
    <div  >
        <table class="table table-condensed table-responsive">
            <caption>[[#{login.order_info}]]</caption>
            <thead>
            <tr>
                <th>[[#{login.order_no}]]</th>
                <th>[[#{login.seller}]]</th>
                <th>[[#{login.p_name}]]</th>
                <th>[[#{login.order_time}]]</th>
                <th>[[#{login.order_status}]]</th>
                <th>[[#{login.order_money}]]</th>
                <th>[[#{login.order_add}]]</th>
                <th>[[#{login.buyer_name}]]</th>
                <th>[[#{login.buyer_phone}]]</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="o:${buyOrders}">
                <td th:text="${o.id}"></td>
                <td th:text="${o.sellId}"></td>
                <td th:text="${o.pId}"></td>
                <td th:text="${o.orderTime}"></td>
                <td th:text="${o.orderStatus}"></td>
                <td th:text="${o.orderMoney}"></td>
                <td th:text="${o.orderAddress}"></td>
                <td th:text="${o.orderReceiver}"></td>
                <td th:text="${o.orderPhone}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
