<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>店铺信息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<nav class="navbar   navbar-default" role="navigation">
    　　<div class="container-fluid">　　
    　　　<div class="navbar-header">　　　
        <button class="navbar-toggle" data-toggle="collapse" data-target="#collapse1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        　　  <a class="navbar-brand" th:href="@{/}">买买买<span class="icon fa fa-home"></span></a>
    </div>
    <div class="collapse navbar-collapse  pull-right" id="collapse1">
        <ul class="nav  nav-pills">
            <li ><a th:href="@{/ws/chat(sellId=${sellId})}">联系卖家</a></li>
            <li>
                <a class="dropdown-toggle " data-toggle="dropdown" th:href="@{/}">我的订单<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a th:href="@{/user/getOrderByBuyId}">我的买入</a></li>
                    <li><a th:href="@{/user/getOrderBySellId}">我的卖出</a></li>
                    <li><a th:href="@{/user/getUnfinishedOrders}">待确认订单</a></li>
                </ul>
            </li>
            <li ><a th:href="@{/cart/getCartList}">我的购物车</a></li>
            <li sec:authorize="isAuthenticated()" class="">
                <a  th:href="@{/logout}">注销</a>
            </li>
        </ul>
    </div>
</div>
</nav>



<div class="container">
    <div class=" panel panel-default">
    <div  class="panel-heading"><h2>卖家的店铺信息</h2></div><br>
        <div class="panel-body">
    <div  th:each="p:${productLists}"  >
        <a th:href="@{/product/toProductInfo(id=${p.id})}">
        <div class="col-md-2 div-square panel panel-default" style="height: 270px;margin-right: 30px;">
            <img th:src="${p.pImg}" style="width:130px;height:150px;" ></img><br>
            <div><div  th:text="${p.pName}"  style="float: left"></div></div>
            <div class="hidden" th:text="${p.pType}">商品类型:</div>
            <div class="hidden" th:text="${p.userId}"></div>
            <div class="hidden" th:text="${p.id}"></div>
            <div><div  style="float: left">价格:</div><div  th:text="${p.pPrice}"></div></div>
            <div><div  style="float: left">库存:</div><div  th:text="${p.pStock}" ></div></div>
            <div><div  style="float: left">商品状态:</div><div  th:text="${p.pStatus}" ></div></div>
            <div><div  style="float: left">商品描述:</div><div th:title="${p.pDesc}"  th:text="${p.pDesc}" style="text-overflow:ellipsis;width: 100px; overflow: hidden;white-space:nowrap;"></div></div>
        </div>
        </a>
    </div>
        </div>
    </div>
</div>

</body>
</html>
