<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        .left-div{
            float: left;
        }
    </style>
</head>
<body>
<div  class="container " th:replace="common/navbar::userNavbar">
</div>
<div class="container">
    <div  th:each="p:${productLists}">
        <div class="col-md-2 div-square panel panel-default" style="height: 270px;margin-right: 30px;">
            <!-- 显示在拍商品信息 -->
            <img th:src="${p.pImg}" style="width:130px;height:150px;" ></img><br>
            <div><div  th:text="${p.pName}"  style="float: left"></div>&nbsp;&nbsp;<a th:href="@{/product/toUpdate(id=${p.id})}" >编辑</a></div>
            <div class="hidden" th:text="${p.pType}">商品类型:</div>
            <div class="hidden" th:text="${p.userId}"></div>
            <div class="hidden" th:text="${p.id}"></div>
            <div><div  style="float: left">价格:</div><div  th:text="${p.pPrice}"></div></div>
            <div><div  style="float: left">库存:</div><div  th:text="${p.pStock}" ></div></div>
            <div><div  style="float: left">商品状态:</div><div  th:text="${p.pStatus}" ></div></div>
            <div><div  style="float: left">商品描述:</div><div th:title="${p.pDesc}"  th:text="${p.pDesc}" style="text-overflow:ellipsis;width: 100px; overflow: hidden;white-space:nowrap;"></div></div>
        </div>
    </div>

</div>

</body>
</html>
