<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>[[#{login.update_pass}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div  class="container " th:replace="common/navbar::userNavbar">
</div>
<div class="container">

    <div class="starter-template col-md-4 col-md-offset-4">
        <h2>[[#{login.update_pass}]]</h2>
        <br>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="username" class="col-md-3 font-weight-bold "><strong>[[#{login.username}]]:</strong></label>
                <div id="username" sec:authentication="name" class="col-md-4"></div>
            </div>
        </form>
            <br>
            <div class="form-group">
                <!--<label for="password">密码</label>-->
                <input type="password" class="form-control" name="password" th:placeholder="#{login.old_pass}" id="password1"/>
                <span id="tishi1"></span>
            </div>
            <br>
            <div class="form-group">
                <!--<label for="password">密码</label>-->
                <input type="password" class="form-control" name="passwords" th:placeholder="#{login.new_pass}" id="password2" onkeyup="validate()"/>
                <span id="tishi2"></span>
            </div>
            <br>

            <br>
            <input type="submit" id="register" th:value="#{login.update_pass}" class="btn btn-primary btn-block" onclick="updatePassword()" />
    </div>
</div>
</body>
<script>
    /*ajax验证后台用户名密码是否正确*/
    $("#password1").blur(function () {
        var username = $("#username").html();
        var password = $("#password1").val();
        if (username !== "") {
            $.ajax({
                async : false,
                type : 'POST',
                url: "/user/validate",
                data: {
                    username: username,
                    password: password
                },
                dataType: "json",
                success: function (data) {

                    if (data.msg.title === "1") {
                        $("#tishi1").html("密码正确，请输入新密码");
                    } else {
                        $("#tishi1").html("密码错误，请确认后重新输入");
                    }
                },
                error: function (error) {
                    alert("服务器异常，请重新输入");
                }
            });
        }
    });

    function validate() {
        var pwd1 = $("#password1").val();
        var pwd2 = $("#password2").val();
        <!-- 对比两次输入的密码 -->
        if(pwd1 == pwd2)
        {
            $("#tishi2").html("新旧两密码相同，请输入不同的密码！！！");
            $("#tishi2").css("color","red");
            $("#register").attr("disabled","disabled");
        }
        else {
            $("#tishi2").html("密码可以使用");
            $("#tishi2").css("color","green")
            $("#register").removeAttr("disabled");
        }
    }

    function updatePassword() {
        var username = $("#username").html();
        var password = $("#password2").val();
        if (username !== "") {
            $.ajax({
                async : false,
                type : 'POST',
                url: "/user/updatePassword",
                data: {
                    username: username,
                    password: password
                },
                dataType: "json",
                success: function (data) {
                    alert(data.msg.content);
                    $("#password1").html("");
                    $("#password2").val("");
                },
                error: function (error) {
                    alert("服务器异常，请重新输入");
                }
            });
        }

    }
</script>
</html>
