<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>[[#{login.chat}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>

</head>

<body>
<nav class="navbar   navbar-default" role="navigation" >
    　　<div class="container-fluid">　　
    　　　<div class="navbar-header">　　　
        <button class="navbar-toggle" data-toggle="collapse" data-target="#collapse1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        　　  <a class="navbar-brand" th:href="@{/}">[[#{login.web_name}]]<span class="icon fa fa-home"></span></a>
    </div>
    <div class="collapse navbar-collapse  pull-right" id="collapse1">
        <ul class="nav  nav-pills">
            <li sec:authorize="isAuthenticated()" class="">
                <a  th:href="@{/logout}">[[#{login.logout}]]</a>
            </li>
        </ul>
    </div>
</div>
</nav>
<div class="container">
    <div class="col-md-offset-5">
        <h1>[[#{login.chat_with}]]</h1>
    </div>

    <div class="col-md-3 panel panel-default">
        <div class="panel-heading"><p>[[#{login.seller_info}]]</p></div>
        <div class="panel-body" id="userlist">
        </div>
    </div>

    <div class="col-md-8  pre-scrollable panel panel-default" style="height: 50%;">
        <div class="panel-body">
            <div id="showMessage"> </div>
        </div>

    </div>

</div>



<input  type="text" th:value="${myName}" id="username" style="display: none" />
<input  type="text" th:value="${hisName}" id="hisName" style="display: none" />
<br>
<hr/>
<div style="margin: auto;text-align: center">
    <input id="text" type="text" />
    <button onclick="send()">[[#{login.send_info}]]</button>
</div>
</body>
<script>
    initWords();
    function initWords() {
        var username = document.getElementById('username').value;
            $.ajax({
            async : false,
            type : 'POST',
            url :  "/message/findList",
            data : null,
            dataType : 'json',
            success : function(data) {
                var arr=data.userlist;
                var sets=new Set();
                for(var i=0;i<data.userlist.length;i++){
                    sets.add(arr[i].toUser);
                    sets.add(arr[i].fromUser);
                }
                for(let item of sets){
                    if(item !== username)
                        $("#userlist").append("<a onclick='getMessages(\"" + item+ "\")'  class='list-group-item'>"+item+"</a><br>");
                }

            },
            error : function(data) {
                alert('服务器异常');
            }
        });

    }


    function getMessages(item) {
        $("#showMessage").empty();
        var username = document.getElementById('username').value;
        // document.getElementById('hisName').innerHTML=name;
        $("#hisName").attr("value",item);
        $.ajax({
            async : false,
            type : 'POST',
            url :  "/message/findMessageByName",
            data : {
                "name":item
            },
            dataType : 'json',
            success : function(data) {
                var arr=data.messages;
                for(var i=0;i<data.messages.length;i++){
                    var fromUser = arr[i].fromUser;
                    var mTitle = arr[i].mTitle;
                    var content = arr[i].content;

                    if(fromUser === item) {
                         var leftArrow = '<div class="pull-left">'+
                             '<div>'+mTitle+'</div>'+
                             '<div>'+content+'</div>'+
                                 '</div>'+'<br><br>';
                        $("#showMessage").append(leftArrow);
                    }else{
                        var rightArrow = '<div class="pull-right">'+
                            '<div>'+mTitle+'</div>'+
                            '<div>'+content+'</div>'+
                            '</div>'+'<br><br>';
                        $("#showMessage").append(rightArrow);
                    }
                }
            },
            error : function(data) {
                alert('服务器异常');
            }
        });

    }

    function saveMessages() {
        var to = $("#hisName").val();
        alert(to);
        var date = getFormatDate();
        var content = document.getElementById('text').value;
        var username = document.getElementById('username').value;
        $.ajax({
            // async : false,
            type : 'POST',
            url :  "/message/saveMessage",
            data : {
                "sendtime": date,
                "message": content,
                "username": username,
                "to": to
            },
            dataType : 'json',
            success : function(data) {
                //alert("成功");
            },
            error : function(data) {
                //alert('服务器异常');
            }
        });

    }

    var webSocket;

    function getFormatDate(){
        var nowDate = new Date();
        var year = nowDate.getFullYear();
        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
        var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();
        var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
        var second = nowDate.getSeconds()< 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();
        return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
    }

    if ("WebSocket" in window) {
        webSocket = new WebSocket("ws://localhost:8080/websocket/"+document.getElementById('username').value);

        //连通之后的回调事件
        webSocket.onopen = function () {
        };


        //接收后台服务端的消息
        webSocket.onmessage = function (evt) {
            var received_msg = evt.data;
            var obj = JSON.parse(received_msg);
            var mTitle = obj.sendTime + " " + obj.fromUser;
            var content = obj.content;
            $("#hisName").attr("value",obj.fromUser);
            if(obj.messageType==4) {
                receiveMessageInnerHTML(mTitle,content);
            }
        }

        //将消息显示在网页上
        function sendMessageInnerHTML(mTitle,content) {
            var rightArrow = '<div class="pull-right">'+
                '<div>'+mTitle+'</div>'+
                '<div>'+content+'</div>'+
                '</div>'+'<br><br>';
            $("#showMessage").append(rightArrow);
        }

        //将消息显示在网页上
        function receiveMessageInnerHTML(mTitle,content) {
            var leftArrow = '<div class="pull-left">'+
                '<div>'+mTitle+'</div>'+
                '<div>'+content+'</div>'+
                '</div>'+'<br><br>';
            $("#showMessage").append(leftArrow);
        }


        function send() {

            var to = $("#hisName").val();
            var sendtime = getFormatDate();
            var content = document.getElementById('text').value
            var username = document.getElementById('username').value;
            var mTitle = sendtime + " " + username;
            sendMessageInnerHTML(mTitle,content);

            var message = {
                "sendtime": sendtime,
                "message": content,
                "username": username,
                "to": to
            };
            saveMessages();
            webSocket.send(JSON.stringify(message));
            $("#text").val("");

        }
    }
</script>

</html>
