<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">买买买</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}"> 首页 </a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">

    <div class="starter-template col-md-4 col-md-offset-4">
        <p th:if="${param.logout}" class="bg-warning">已成功注销</p><!-- 1 -->
        <p th:if="${param.error}" class="bg-danger">有错误，请重试</p> <!-- 2 -->
        <h2>用户登录登录</h2>
        <br>
        <form name="form" th:action="@{/login}" action="/login" method="POST"> <!-- 3 -->
            <div class="form-group">
                <!--<label for="username">账号</label>-->
                <input type="text" class="form-control" name="username" value="" placeholder="账号" id="username"/>
            </div>
            <br>
            <div class="form-group">
                <!--<label for="password">密码</label>-->
                <input type="password" class="form-control" name="password" placeholder="密码" id="password"/>
            </div>
            <br>
            <div class="form-group">
                <input type="checkbox" name="remember-me" /><strong>记住我</strong>

            </div>
            <input type="submit" id="login" value="登录" class="btn btn-primary" style="width:350px;;"/>
        </form>
        <div>
            <a th:href="@{/logins/toRegister}" class="text-info pull-left navbar-brand">注册</a>
            <a th:href="@{/logins/toValidate}" class="text-info pull-right navbar-brand">忘记密码？</a>
        </div>
    </div>
</div>
</body>
</html>
