<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>[[#{login.notice}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br><br><br><br><br><br>
<div class="container">
    <div class="col-md-4 col-md-offset-4 panel panel-default ">
    <div class="col-center-block"><label class="">[[#{login.notice}]]</label></div><br>
    <div class="col-center-block"><p  class="" th:text="${message.title}"></p></div><br>
    <div class="col-center-block"><p class="" th:text="${message.content}"></p></div>
        <div class="col-center-block"><p class="" th:text="${message.etraInfo}"></p></div><br>
    <div class="col-center-block"><a  class="text-info" href="/">[[#{login.back_main}]]</a></div>
    </div>
</div>

</body>
</html>