<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>[[#{login.register}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/validatePwd.js}"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">[[#{login.web_name}]]<span class="icon fa fa-home"></span></a>
        </div>
    </div>
</nav>
<div class="container">

    <div class="starter-template col-md-4 col-md-offset-4">
        <h2>[[#{login.user_register}]]</h2>
        <br>
        <form name="form" th:action="@{/logins/register}"  method="POST"> <!-- 3 -->
            <div class="form-group">
                <!--<label for="username">账号</label>-->
                <input type="text" class="form-control" name="username" th:placeholder="#{login.username}" id="username"/>
                <p id="tips" class="help-block"></p>
            </div>
            <br>
            <div class="form-group">
                <!--<label for="password">密码</label>-->
                <input type="password" class="form-control" name="password"  th:placeholder="#{login.password}" id="password1"/>
            </div>
            <br>
            <div class="form-group">
                <!--<label for="password">密码</label>-->
                <input type="password" class="form-control" name="passwords" th:placeholder="#{login.passwordAgain}" id="password2" onkeyup="validate()"/>
                <span id="tishi"></span>
            </div>
            <br>
            <div class="form-group">
                <!--<label for="password">密保问题</label>-->
                <input type="password" class="form-control" name="question" th:placeholder="#{login.question}"/>
            </div>
            <br>
            <div class="form-group">
                <!--<label for="password">答案</label>-->
                <input type="password" class="form-control" name="answer" th:placeholder="#{login.answer}" />
            </div>
            <br>
            <input type="submit" id="register" th:value="#{login.register}" class="btn btn-primary" style="width:350px;"/>
        </form>
    </div>
</div>
</body>
<script>
    /*ajax验证后台用户名是否存在*/
    $("#username").blur(function () {
        var username = $("#username").val().trim();
        if (username !== "") {
            $.ajax({
                url: "getUsername",
                type: "post",
                data: {
                    username: username
                },
                dataType: "json",
                success: function (data) {

                    if (data.users.username === username) {
                        $("#tips").html("用户名已存在");
                    } else {
                        $("#tips").html("用户名可以用");

                    }
                },
                error: function (error) {
                    alert("服务器异常，请重新输入");
                }
            })
        }
    });
</script>
</html>
