<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>[[#{login.reset_pass}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/validatePwd.js}"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">[[#{login.web_name}]]<span class="icon fa fa-home"></span></a>
        </div>
    </div>
</nav>
<div class="container">

    <div class="starter-template col-md-4 col-md-offset-5 form-inline">
        <h2></h2>
        <br>
            <div class="form-group">
                <label for="name">[[#{login.user_pass}]]</label><br>
                <div><input type="text" class="form-control" name="name" id="name"/>
            </div><br>
                <button class="btn btn-primary  btn-block" onclick="getQuestion()">[[#{login.confirm}]]</button></div>
            <br>
        <br>
        <div class=" form-group"  id="divAnswer">
            <label for="answer">[[#{login.pass_que}]]:</label>
            <div name="question" id="question" ></div><br>
            <input type="text" class="form-control" name="answer" th:placeholder="#{login.pass_ans}" id="answer"/><br><br>
            <button    class="btn btn-primary  btn-block" onclick="resetPassword()" >[[#{login.submit}]]</button>
        </div>
    </div>
</div>
</body>
<script>
    $(function() {
        $("#divAnswer").hide();
    });
    function getQuestion() {
        var username = $("#name").val();
        $.ajax({
            async : false,
            type : 'POST',
            url : "/logins/getUser",
            data : {username:username},
            dataType : 'json',
            success : function(data) {
                if($.isEmptyObject(data.users)){
                    alert("没有此用户名！");
                }
                else{
                $("#question").attr("value",data.users.question);
                $("#question").html(data.users.question);
                $("#divAnswer").show();
                }
            },
            error : function(result) {
                alert('服务器异常');
            }
        });
    }

    function resetPassword() {
        var answer = $("#answer").val();
        var username = $("#name").val();
        $.ajax({
            async : false,
            type : 'POST',
            url : "/logins/resetPassword",
            data : {username:username,
                     answer:answer},
            dataType : 'json',
            success : function(data) {
                alert(data.msg.content);
            },
            error : function(result) {
                alert('服务器异常');
            }
        });

    }
</script>

</html>
